@charset "UTF-8";

ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;}
hgroup#cabecalho h1{
    color: #000;
    font-family: bell mt;}
hgroup#cabecalho h2{
    color: brown;
    font-family: bell mt;}
ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px black;
    -webkit-transition: all .4s ease-in;}
ul#album-fotos li span{
    opacity: 0;
    color:#ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: gray;
    font-size: 10pt;
    line-height: 370px;
    padding: 5px;}
ul#album-fotos li:hover{
    -webkit-transform:scale(1.5);
}
ul#album-fotos li:hover span{
    opacity: 1;

}
ul#album-foto li#foto01{
    background: url() no-repeat;}
ul#album-foto li#foto01:hover{
  background-position: 0px 0px;}
ul#album-foto li#foto02{
    background: url() no-repeat;}
ul#album-foto li#foto03{
    background: url() no-repeat;}
ul#album-foto li#foto04{
    background: url() no-repeat;}
ul#album-foto li#foto05{
    background: url() no-repeat;}
ul#album-f0t0 li#foto06{
    background: url() no-repeat;}



